#ignore all files in the builds
build/

#ignore all files in the target
target/

#ignore all files in the lib
lib/

#ignore all intelliJ specific files
.idea/

#ignore netbeans specific files
nb-configuration.xml

#ignore other files
.classpath
.project
.settings/
